<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|striptags} | {/ifset}Photo collector</title>
</head>

<body>
	{if $user->loggedIn}
		<h2><a href={plink Password:}" title="{_txt.layout.changePassword}">{$user->identity->name}</a></h2>
		{control mainMenu}
	{/if}

	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	{/block}
</body>
</html>
