<nav>
	<ul>
		<li>
			<a href="{plink Event:}">Events</a>
		</li>
		<li>
			<a href="{plink User:}">Users</a>
		</li>
		<li>
			<a href="{plink Upload:}">Upload</a>
		</li>
		<li>
			<a href="{plink Browse:}">Browse</a>
		</li>
	</ul>
</nav>
